@{
    ViewBag.Title = "Home Page";
}

<h1>Hello!</h1>

<input type="button" value="Click ME!" id="click-me" class="btn btn-danger" />

<div id="welcome-messages"></div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/SignalR/js"></script>
    <script>
        (function () {

            var chat = $.connection.chat;

            $.connection.hub.start()
                .done(function () {
                    $.connection.hub.logging = true;
                    writeToPage("It worked!");
                    $.connection.hub.log("Test");
                    chat.server.announceToEverybody("Connected!");
                })
                .fail(function () {
                    writeToPage("Error connectiing to SignalR!");
                });

            chat.client.announce = function (message) {
                writeToPage(message);
            }

            var writeToPage = function (message) {
                $("#welcome-messages").append(message + "<br />");
            }

            $("#click-me").on("click", function () {
                chat.server.getServerDateTime()
                    .done(function (data) {
                        writeToPage(data);
                    })
                    .fail(function (e) {
                        writeToPage(e);
                    });
            })
        })()
    </script>
}